<!-- <script src="./plugins/pace/pace.min.js"></script> -->
<script src="./plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="./plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="./plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="./plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="./plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="./plugins/gritter/js/jquery.gritter.js"></script>
<script src="./plugins/parsley/dist/parsley.js"></script>
<script src="./plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="./plugins/moment/moment.min.js"></script>
<script src="./plugins/iCheck/icheck.min.js"></script>
<script src="./plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="./plugins/DataTables/js/jquery.dataTables.js"></script>
<!-- <script src="./plugins/select2/dist/js/select2.min.js"></script> -->
<script src="./js/apps.min.js"></script>
<script src="./plugins/jquery/jquery.sha1.js"></script>
<script src="./js/cabTab/common.js"></script>
<script src="./js/cabTab/config.js"></script>
<script src="./js/cabTab/apiService.js"></script>



