	<div id="sidebar" class="sidebar">
		<!-- begin sidebar scrollbar -->
		<div data-scrollbar="true" data-height="100%">
			<!-- begin sidebar user -->
			<ul class="nav">
				<li class="nav-profile">
					<!-- <div class="image">
						<a href="#"><img src="./img/user-13.jpg" alt="" /></a>
					</div> -->
					<div class="info">
						<span class="userName"></span>
						<!-- <small class="role"></small> -->
					</div>
				</li>
			</ul>
			<!-- end sidebar user -->
			<!-- begin sidebar nav -->
			<ul class="nav" id="mnuList">
			<!-- Menu contents goes here -->
			</ul>
			<!-- end sidebar nav -->
		</div>
		<!-- end sidebar scrollbar -->
	</div>
	<div class="sidebar-bg"></div>
